tenantId: {{ tenant_id }}
subscriptionId: {{ subscription_id }}
aadClientId: {{ sp_app_id }}
{% if sp_secret is defined %}
aadClientSecret: {{ sp_secret }}
{% endif %}
aadTenantID: {{ tenant_id }}
resourceGroup: {{ rg }}
cloud: {{ openshift_cloudprovider_azure_cloud }}
location: {{ location }}
vnetName: {{ vnet_name }}
securityGroupName: {{ openshift_cloudprovider_azure_security_group_name }}
primaryAvailabilitySetName: {{ openshift_cloudprovider_azure_availability_set_name }}
useInstanceMetadata: true
